.TodoItem {
    background-color: #dededef7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(191, 191, 191);
    margin: 20px auto;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    top: 12px;
    /* background-color: #CCC; */
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
    font-size: 30px;
    color: #341046;
  }
  .Icon-check--active {
    color: #87b704;
  }
  
  .Icon-delete {
    position: absolute;
    /* top: -24px; */
    right: 0;
    font-size: 30px;
    color: #8C001A;
  }
  .Icon-delete:hover {
    color: #c60226;
  }